<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crud.dao.ManagerMapper">   
  <select id="countByManagerName" parameterType="java.lang.String" resultType="Integer">
    
    select 
    count(*) 
    from tbl_manager
    where manager_name = #{managerName,jdbcType=VARCHAR}
  </select>
  
  <insert id="insertSelective" parameterType="java.lang.String">
    
   insert into tbl_manager(manager_name,password)
    values(#{name,jdbcType=VARCHAR},#{pass,jdbcType=VARCHAR})
  </insert>
  
  <select id ="checkLoginByNameAndPass" parameterType="java.lang.String" resultType="Integer">
  select 
  count(*)
  from tbl_manager
  where manager_name = #{name,jdbcType=VARCHAR}
  and password = #{pass,jdbcType=VARCHAR}
  </select>
  
</mapper>